/* dark mood */
.bg-night{
    background-color: #12141A !important;
}
.body-night {
    font-family: 'Inter' !important;
    background-color: #000000 !important;
    color: #ffffff !important;
}
.text-muted-night{
    color: #ffffff !important;
}
.text-secondary-night{
    color: #ffffff !important;
}
.text-white-night{
    color: #ffffff !important;
}
.btn-light-night{
    background-color: #ffffff !important;
    color: #000000 !important;
}
.bg-secondary-night{
    background-color: #343a40 !important;
    color: #ffffff !important;
}


.modal_ave-night{
    background-color: #12141A !important;
    border-radius: 12px;
    padding: 24px;
    width: 420px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.table-ngiht{
    background-color: #12141A !important;
    color: #ffffff !important;
}

[data-bs-theme="dark"] .list-group-item {
    background-color: transparent !important;

}

[data-bs-theme="dark"] .table{
    --bs-table-bg : transparent !important;
}


[data-bs-theme="dark"] .partactive{
    background-color: #12141A !important;
    color: white;
    border-radius: 10px;
}


[data-bs-theme="dark"] .table-secondary {
    background-color: #343a40 !important;
    color: black;
    --bs-table-bg : transparent
}