/* dark mood */
.bg-night{
    background-color: #12141A !important;
}
.body-night {
    font-family: 'Inter' !important;
    background-color: #000000 !important;
    color: #ffffff !important;
}
.text-muted-night{
    color: #ffffff !important;
}
.text-secondary-night{
    color: #ffffff !important;
}
.text-white-night{
    color: #ffffff !important;
}
.btn-light-night{
    background-color: #ffffff !important;
    color: #000000 !important;
}
.bg-secondary-night{
    background-color: #12141A !important;
    color: #ffffff !important;
}


.modal_ave-night{
    background-color: #12141A !important;
    border-radius: 12px;
    padding: 24px;
    width: 420px;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.table-ngiht{
    background-color: #12141A !important;
    color: #ffffff !important;
}

[data-bs-theme="dark"] .list-group-item {
    background-color: transparent !important;

}

[data-bs-theme="dark"] .table{
    --bs-table-bg : transparent !important;
}


[data-bs-theme="dark"] .partactive{
    background-color: #12141A !important;
    color: white;
    border-radius: 10px;
}


[data-bs-theme="dark"] .table-secondary {
    background-color: #343a40 !important;
    color: black;
    --bs-table-bg : transparent
}
[data-bs-theme="dark"] .gainers-table-container {
    background-color: #1e1e23 !important;
  }
  
  [data-bs-theme="dark"] .gainers-table-title {
    color: #ffffff;
  }
  
  [data-bs-theme="dark"] thead {
    background-color: #2a2a33 !important;
    color: #a1c4fd !important;
  }
  
  [data-bs-theme="dark"] tbody tr {
    background-color: #1e1e23 !important;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8) !important;
  }
  
  [data-bs-theme="dark"] tbody td {
    color: #e0e0e0 !important;
  }
  
  [data-bs-theme="dark"] .crypto-info .name {
    color: #ffffff !important;
  }
  
  [data-bs-theme="dark"] .crypto-info .category {
    color: #bbbbbb !important;
  }
  
  [data-bs-theme="dark"] .progress-bar-container {
    background-color: #2a2a33 !important;
  }
  
  [data-bs-theme="dark"] .progress-bar {
    background-color: #3bb77e !important;
  }
  
  [data-bs-theme="dark"] .progress-bar-loser {
    background-color: #e57373 !important;
  }
  
  
  [data-bs-theme="dark"] .support-hero {
    background-color: #12141A !important;
  }
  [data-bs-theme="dark"] .icon-calender{
    background-image: url('../../image/landing/calender_night.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  [data-bs-theme="dark"] .icon-user{
      background-image: url('../../image/landing/user_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  [data-bs-theme="dark"] .icon-deposit{
      background-image: url('../../image/landing/deposit_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  [data-bs-theme="dark"] .icon-wallet{
      background-image: url('../../image/landing/wallet_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  [data-bs-theme="dark"] .icon-future{
      background-image: url('../../image/landing/future_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  [data-bs-theme="dark"] .icon-key{
      background-image: url('../../image/landing/key_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
  [data-bs-theme="dark"] .icon-spot{
      background-image: url('../../image/landing/spot_night.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
  }
